@{
	Layout = "~/en/_SiteLayout.cshtml";
	string name = "CIGS Selenization Furnace";
	string path1 = "/Images/products/CIGS_oven.jpg";
	string path2 = "/Images/products/CIGS_sample.jpg";
	string path3 = "/Images/products/CIGS_test profile.jpg";
	Page.Title = name; 
}

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!--關鍵字-->
	</head>
	<body>
		<div class="content-wrapper clear-fix">
			<div class="page-header clear-fix">
				<div class="page-header-left">
					<h1>@name</h1>
					<ul class="bread-crumb">
                        <li>
                            <a titel="products" href="~/zh-tw/products.cshtml">Product introduction</a>/  @name                            
                        </li>
                        <!--<li class="separator icon-small-arrow right-gray"></li>
                        <li>@name</li>-->
                    </ul>
				</div>
			</div>
			<div class="clear-fix" style="padding-top: 20px;">
				<div class="content-left">
					<img src="@path1" width="100%">
					<h3 align=center>硒化後工件表面均勻</h3>
					<img src="@path2" width="100%">
					<h3 align=center> 硒化設備溫控系統曲線</h3>
					<img src="@path3" width="100%">
				</div>
				<div class="content-right">
					<table cellpadding="0" border="20" cellspasing="0" style="width: 100%">
						<tbody>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>系統組成</p>
								</td>
								<td>
									<p>爐體、進退料機構、遠端控制系統、冰水機</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>外觀尺寸</p>
								</td>
								<td>
									<p>爐體約210cm(長) × 150cm(寬) × 200cm(高)</p>
									<p>進退料機構約200cm(長) × 55cm(寬) × 80cm(高)</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>爐腔尺寸</p>
								</td>
								<td>
									<p>石英材質，φ450cm、120cm L</p>
									<p>可處理工件為37cm × 47cm × 5片/批。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>真空系統</p>
								</td>
								<td>
									<p>採用兩階段乾式幫浦，真空度可達1 × 10-3 torr。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>使用溫度</p>
								</td>
								<td>
									<p>最高使用溫度600℃。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>升溫速率</p>
								</td>
								<td>
									<p>5 ~ 15℃/min<p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>加熱系統</p>
								</td>
								<td>
									<p>控制器具有PID自動演算功能，搭配分區加熱器使均溫性達到± 0.9% ( ± 5 ℃,550 ℃ soak)。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>氣體流量控制</p>
								</td>
								<td>
									<p>以質流量控制器(MFC)精確控制各製程氣體。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>冷卻系統</p>
								</td>
								<td>
									<p>藉由水冷與氣冷方式達到快速的降溫效果，冷卻速率約3~4 ℃/min 。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>爐體設計</p>
								</td>
								<td>
									<p>採用雙層設計，大幅減少危險氣體洩漏的危險。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>遠端控制</p>
								</td>
								<td>
									<p>於遠端控制電腦操作，防止操作人員受毒氣傷害。</p>
								</td>
							</tr>
							<tr>
								<td style="padding: 0.25em 0.8em 0.25em 1em;">
									<p>危險氣體保護</p>
								</td>
								<td>
									<p>閥件皆設置在負壓密閉Gas Box內，保護人員安全。</p>
								</td>
							</tr>
							<tr>
								<td>
									<p>警報系統</p>
								</td>
								<td>
									<p>對各項元件皆有嚴密監控，當產生警報時能即時關閉各系統。</p>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>

