@{
	Layout = "~/en/_SiteLayout.cshtml";
	string name = "THERMOTRACKER®";
	string path1 = "/Images/products/pro600_2.jpg";
	string path2 = "/Images/products/pro1000_2.jpg";
    
    string[] pro600 ={"/Images/products/測溫器/PRO-600-6P.png","/Images/products/測溫器/PRO-600-6P-2.png","/Images/products/測溫器/PRO-600-8P.png"};
    string[] pro1000 = {"/Images/products/測溫器/PRO-1000-2.png","/Images/products/測溫器/PRO-1000-4P.png","/Images/products/測溫器/PRO-1000-6P.png","/Images/products/測溫器/PRO-1000-6p-2.png"};
	Page.Title = name;
}


<html lang="en">
	<head>
		<meta charset="utf-8">
		<!--關鍵字-->
           
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.css"/>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.7/slick.min.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $('.index-slick').slick({
            //dots: true,
            //infinite: true,
            arrows: false,
            autoplay: true,
            speed: 3000,
            fade: true,
            pauseOnHover: true,
            //cssEase: 'linear'
        });
    })
</script>
	</head>
 
	<body>
        <div class="side-bar">
            <ul>
                <li><a href="products.cshtml">← Back to Menu</a></li>
                @{
                    Database connect = Database.Open("RazorWeb");
                    var data = connect.Query("select * from products_en").ToArray();
                    foreach(var i in data)
                    {
                        <li><a href="product.cshtml?ID=@i.ID">@i.Name</a></li>
                    }
                }  
                <li><a href="thermotracker.cshtml">THERMOTRACKER®</a></li>
                <li><a href="prowin2.cshtml">THERMOTRAKER control software </a></li>
                <li><a href="other.cshtml">Others</a></li>                  
            </ul>
        </div>
        <div class="content-wrapper clear-fix" >
            <div class="page-header clear-fix">
                <div class="page-header-left">
                    <h1>@name</h1>
                    <ul class="bread-crumb">
                        <li>
                            <a titel="products" href="~/en/products.cshtml">Products</a>/  @name                            
                        </li>
                        <!--<li class="separator icon-small-arrow right-gray"></li>
                        <li>@name</li>-->
                    </ul>
                </div>
            </div>
            <div class="clear-fix" style="padding-top: 20px; padding-right: 10px;">
                <div class="content-left">
                    <img src="@pro600[0]" height="80%" title="Pro600">
                    <h5 style="text-align: center; width: 80%;">Pro 600</h5>
                    <br>
                    <img src="@pro1000[2]" height="80%">
                    <h5 style="text-align: center; width: 80%;">Pro 1000</h5>
                </div>
                <div class="content-right" style="font-size: 16px;">
                    <p>THERMOTRACKER&reg; is a high precision temperature measuring/logging system, which can measure and analyze the temperature profile through the most accurate and easiest way.
                         It can be used in SMT, PCB, computer, electronic, paint, food and pharmaceutical industry.<br />Our standard package includes THERMAL PROFILER, THERMAL BARRIER (different process condition
                          requires different types of thermal barrier) and SOFTWARE PROGRAM CD. <br/>
                          <h4>Introduction to Standard THERMOTRACKER package for SMT manufacture:</h4>
                          <h4>THERMAL PROFILER:</h4>
                          <p>It is the temperature measuring and logging device. It has an RS-232 interface to communicate with PC.<br />
                          Because the use of latest electronic techniques, it has excellent temperature stability,
                          accuracy, and consumes very little power. It also includes over temperature protection ability to ensure longer service life.</p>
                          <h4>THERMAL BARRIER:</h4>
                          <p>Protects profiler from being damaged by high temperature in manufacture process.</p>
                          <h4>SOFTWARE<a href="prowin2.cshtml">ProWin2</a></h4>
                          <p>It is a Windows based software package that provides control of profiler and analysis of temperature profiles. Two language interface (Chinese and English) can be chosen and easy to operate.</p>
                </div>
                
            </div>
            <div class="content-bottom" style="padding-right: 10px; padding-top: 20px;">
                    <table width="100%" border="5">
                        <tbody>
                            <tr>
                                <td bgcolor="#BBBDBD" align="center" colspan="5">PRO-600</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Model</td>
                                <td  bgcolor="dcdedd" align="center">4P</td>
                                <td  bgcolor="dcdedd" align="center">6P</td>
                                <td  bgcolor="dcdedd" align="center">8P</td>
                                <td  bgcolor="dcdedd" align="center">12P</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Measuring Range</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">0 ~ +600 ºC </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Software</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">ProWin2(Chinese, English)</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Thermocouple Type</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">K Type</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Accuracy </td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">± 0.5 ºC</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Resolution </td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">0.2 ºC</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Memory</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">4000 Records (PRO-600-12P:360O Records)</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Sampling Interval</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">0.1 second to 1 hour</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Communication</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">RS-232</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Over Temperature Protection</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">auto power off when profiler internal temperature exceeds 105 ºC </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Power Source</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">
                                    <p>6V (AAAA × 4) battery </p>
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Dimension(l×w×h)</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">
                                    <p>4P,6P : 187mm × 52mm × 16mm</p>
                                    <p>8P : 187mm × 67mm × 16mm</p>
                                    <p>12P : 187mm × 100mm × 16mm</p>
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Thermal Barrier Dimension(l×w×h)</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">
                                    <p>4P,6P : 220mm × 64mm × 25mm (30)</p>
                                    <p>8P : 220mm × 80mm × 25mm (30)</p>
                                    <p>12P : 220mm × 112mm × 25mm(30)</p>
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Battery Life</td>
                                <td  bgcolor="dcdedd" align="center" colspan="4">More then 200 hours at 0.1 sec. sampling rate</td>
                            </tr>
                        </tbody>
                    </table>
                    
                    <table width="100%" border="5">
                        <tbody>
                            <tr>
                                <td bgcolor="#BBBDBD" align="center" colspan="7">PRO-1000</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center"  rowspan="2">Model</td>
                                <td bgcolor="dcdedd" align="center" colspan="3">PRO-1000</td>
                                <td bgcolor="dcdedd" align="center" colspan="3">PRO-1300</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center">4P</td>
                                <td  bgcolor="dcdedd" align="center">6P</td>
                                <td  bgcolor="dcdedd" align="center">8P</td>
                                <td  bgcolor="dcdedd" align="center">4P</td>
                                <td  bgcolor="dcdedd" align="center">6P</td>
                                <td  bgcolor="dcdedd" align="center">8P</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Measuring Range</td>
                                <td  bgcolor="dcdedd" align="center" colspan="3">0 ~ +1000 ºC </td>
                                <td  bgcolor="dcdedd" align="center" colspan="3">-100 ~ +1350 ºC </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Software</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">ProWin2(Chinese, English)</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Thermocouple Type</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">K Type</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Accuracy </td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">± 1 ºC</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Resolution </td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">0.5 ºC</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Memory</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">4000 Records</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Sampling Interval</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">0.1 second to 1 hour</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Communication</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">RS-232</td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Over Temperature Protection</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">85 ºC stop operation, 105 ºC auto power off </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Power Source</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">
                                    <p>6V (AAA × 4) BATTERY </p>
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Dimension(l×w×h)</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">
                                    <p>4P,6P : 169mm × 104mm × 15mm</p>
                                    <p>8P : 169mm × 104mm × 18mm</p>
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Thermal Barrier Dimension(l×w×h)</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">
                                    <p>4P,6P : 206mm × 116mm × 25mm(30)</p>
                                    <p>8P : 206mm × 116mm × 30mm</p>
                                </td>
                            </tr>
                            <tr>
                                <td  bgcolor="dcdedd" align="center" >Battery Life</td>
                                <td  bgcolor="dcdedd" align="center" colspan="7">More then 200 hours at 0.1 sec. sampling rate</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>Note: Specifications are subject to change without notice</p>
                </div>
        </div>
    </body>
</html>