@{
    Layout = "~/zh-tw/_SiteLayout.cshtml"; 
    string metaKeyword = null;
    string name = null;
    string rawText = null;
    string path = null;    
    string[] images = new string[15]; 
    string[] content = null;
}




<div>
    @{
        //跨資料表圖片路徑對拷
        @*Database connect = Database.Open("RazorWeb");
        var data = connect.Query("select * from products").ToArray();
        for(int i =0; i < data.Length;i++)
        {
             images[i] = data[i].Image1;
            <li>ID = @data[i].ID</li>
            <li>@images[i]</li>
            string com = "update products_en set Image1 = @0 where ID = @1";
            connect.Execute(com,images[i],i+1);
        }*@

        //調換圖片路徑
        <!--Database con = Database.Open("RazorWeb");
        var data1 = con.Query("select * from products_en where id = 11").ToArray();
        <p>@data1[0].ID</p>
        <p>@data1[0].Name</p>
        <p>@data1[0].Content</p>
        <p>@data1[0].Image1</p>
        var data2 = con.Query("select * from products_en where id = 13").ToArray();
        <p>@data2[0].ID</p>
        <p>@data2[0].Name</p>
        <p>@data2[0].Content</p>
        <p>@data2[0].Image1</p>
        string query = "update products_en set Name = @0 Content = @1 Image1 = @3 where ID = @4";-->
        //con.Execute(query,data1[0].Name,data1[0].Content,data1[0].Image1,13);
        //con.Execute(query,data2[0].Name,data2[0].Content,data2[0].Image1,11);
    }
</div>




