@{
    Layout = "~/zh-tw/_SiteLayout.cshtml";
    Page.Title = "產品簡介";    
}

@{
    Database db = Database.Open("RazorWeb");
    var selectedData = db.Query("select * from products where ID = 1");
    var grid= new WebGrid(source: selectedData);
    var dataArray = selectedData.ToArray();
    string name = null;
    string content = null;
    string  path = null;    
    foreach(var raw in selectedData)
    {
        name = raw.Name;
        content = raw.Content;
        path = raw.Image1;
    }
}

<html lang="zh-tw">
    <head>
        <meta charset="utf-8" />
        <title></title>
    </head>
    <body>
        <!--測試
        @DateTime.Now;
        <p>@content</p>
        <p>@path</p>
        <img src=@path>
        <img src="~/Images/logo.png">-->
        <div class="content-wrapper clear-fix" >
            <div class="page-header clear-fix">
                <div class="page-header-left">
                    <h1>@name</h1>
                    @*這個區塊無法套用CSS*@
                    <ul class="bread-crumb">
                        <li>
                            <a titel="products" href="~/zh-tw/products.cshtml">產品簡介</a>/  @name                            
                        </li>
                        <!--<li class="separator icon-small-arrow right-gray"></li>
                        <li>@name</li>-->
                    </ul>
                </div>
            </div>
            <div class="clear-fix">
                @content
            </div>
        </div>
    </body>
</html>
