@{
    Layout = "~/zh-tw/_SiteLayout.cshtml";
    Page.Title = "聯絡我們";    
}
@{
	if(IsPost)
	{
		string company = Request.Form["company"];
        string email = Request.Form["email"];
        string phone = Request.Form["phone"];
        string discript = Request.Form["discript"].ToString();
        string message ="來信公司\\單位: " + company + "<br>" + "來信公司\\單位之聯絡信箱: " + email + "<br>" + "連絡電話: " + phone + "<br><br>" + discript + "<br><br><br>此信件為系統自動產生，請勿直接回信";
        
        @*<text>
            @company<br>
            @email<br>
            @phone<br>
            @discript<br>
        </text>*@

        try
        {
            WebMail.SmtpServer = "vmail.seed.net.tw";   //寄件smtp server
            WebMail.SmtpPort = 25;                          //smtp port
            WebMail.EnableSsl = false;                       //啟用SSL
            WebMail.UserName = "service@tangteck.com";                          //寄件郵件帳戶 
            WebMail.Password = "v0005119";
            WebMail.From = WebMail.UserName;                //同寄件郵件帳戶
            
            WebMail.Send(to: "service@tangteck.com",    //收件者
                         subject:company + "來信詢問",          //標題
                         body: message);                   //內容
        }
        catch(Exception e)
        {
            <text>@e</text>
        }
	}
}

<!DOCTYPE html>

<html lang="zh-tw">
    <head>
        <title></title>
    </head>
    <body>
		<h1>您的信件已成功送出，謝謝您的來信。</h1>
    </body>
</html>
