@{
    Layout = "~/zh-tw/_SiteLayout.cshtml";
    Page.Title = "聯絡我們";    
}

<!DOCTYPE html>

<html lang="zh-tw">
    <head>
        <title></title>
    </head>
    <body>
        @{
	if(IsPost)
	{
		string company = Request.Form["company"];
        string name = Request.Form["name"];
        string email = Request.Form["email"];
        string phone = Request.Form["phone"];
        string discript = Request.Form["discript"].ToString();
        string message ="來信公司\\單位: " + company + "<br>" + "姓名: " + name + "<br>" + "來信公司\\單位之聯絡信箱: " + email + "<br>" + "連絡電話: " + phone + "<br><br>" + discript + "<br><br><br>此信件為系統自動產生，請勿直接回信";
        bool IsSuccess = false;
        
         @*<text>
            @company<br>
            @name<br>
            @email<br>
            @phone<br>
            @discript<br>
        </text>*@

        try
        {
            WebMail.SmtpServer = "pollux8.url.com.tw";   //寄件smtp server
            WebMail.SmtpPort = 587;                          //smtp port
            WebMail.EnableSsl = true;                       //啟用SSL
            WebMail.UserName = "noreply@tangteck.com.tw";                          //寄件郵件帳戶 
            WebMail.Password = "23141312tk";
            WebMail.From = WebMail.UserName;                //同寄件郵件帳戶
            WebMail.Send(to: "service@tangteck.com",    //收件者
                         subject:company + "來信詢問",          //標題
                         body: message);                   //內容
            IsSuccess = true;
        }
        catch(Exception e)
        {
            IsSuccess = false;
            <p>發生錯誤，請聯繫台記工業設備</p>
            <p>@e.ToString()</p>
        }
        if(IsSuccess)
        {
            <h1>您的信件已成功送出，謝謝您的來信。</h1>
        }
	}
}		
    </body>
</html>
